* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

@font-face {
  font-family: "manrope";
  src: url("../../fonts/Manrope/static/Manrope-ExtraBold.ttf");
  font-style: bold;
  font-weight: bold;
}

@font-face {
  font-family: "helvetica";
  src: url("../../fonts/helvetica-neue/HelveticaNeueCyr-Roman.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "helveticaMed";
  src: url("../../fonts/helvetica-neue/HelveticaNeueCyr-Medium.ttf");
  font-style: normal;
  font-weight: medium;
}

@font-face {
  font-family: "helveticaBold";
  src: url("../../fonts/helvetica-neue/HelveticaNeueCyr-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.navBar img {
  width: 171px;
  height: 32px;
  margin-left: 7%;
}

.navBar nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navBar nav ul li {
  position: relative;
  margin: 0px 25px;
  color: #eee9e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: normal 16px "helvetica", sans-serif;
}

.navBar nav ul li:hover {
  color: #6cd3ff;
}

.navBar nav ul li::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 30%;
  right: 30%;
  height: 30%;
  border-radius: 50%;
  background-color: #6cd3ff;
  transform: scaleX(0);
  transition: transform 0.1s ease-in;
}

.navBar nav ul li:hover::after {
  transform: scaleX(20%);
}

.navBar div {
  margin-right: 7%;
}

.btn {
  padding: 10px;
  margin: 13px;
  border-radius: 100px;
  font: normal 56px "helveticaBold", sans-serif;
  font-size: 16px;
  color: #8c72ff;
}

.btn:hover {
  color: #eee9e9;
  background-color: #8c72ff;
}

.btnTwo {
  padding: 10px;
  margin: 13px;
  border-radius: 100px;
  font: normal 56px "helveticaBold", sans-serif;
  font-size: 16px;
  color: #eee9e9;
  background-color: #8c72ff;
}

.btnTwo:hover {
  color: #8c72ff;
  background-color: #eee9e9;
}

body {
  background-color: #15083e;
}
