* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

@font-face {
  font-family: "manrope";
  src: url("../../fonts/Manrope/static/Manrope-ExtraBold.ttf");
  font-style: bold;
  font-weight: bold;
}

@font-face {
  font-family: "helvetica";
  src: url("../../fonts/helvetica-neue/HelveticaNeueCyr-Roman.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "helveticaMed";
  src: url("../../fonts/helvetica-neue/HelveticaNeueCyr-Medium.ttf");
  font-style: normal;
  font-weight: medium;
}

@font-face {
  font-family: "helveticaBold";
  src: url("../../fonts/helvetica-neue/HelveticaNeueCyr-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.navBar img {
  width: 171px;
  height: 32px;
  margin-left: 7%;
}

.navBar nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navBar nav ul li {
  position: relative;
  margin: 0px 25px;
  color: #eee9e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: normal 16px "helvetica", sans-serif;
}

.navBar nav ul li:hover {
  color: #6cd3ff;
}

.navBar nav ul li::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 30%;
  right: 30%;
  height: 30%;
  border-radius: 50%;
  background-color: #6cd3ff;
  transform: scaleX(0);
  transition: transform 0.1s ease-in;
}

.navBar nav ul li:hover::after {
  transform: scaleX(20%);
}

.navBar div {
  margin-right: 7%;
}

@font-face {
  font-family: "manrope";
  src: url("../../fonts/Manrope/static/Manrope-ExtraBold.ttf");
  font-style: bold;
  font-weight: bold;
}

@font-face {
  font-family: "helvetica";
  src: url("../../fonts/helvetica-neue/HelveticaNeueCyr-Roman.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "helveticaMed";
  src: url("../../fonts/helvetica-neue/HelveticaNeueCyr-Medium.ttf");
  font-style: normal;
  font-weight: medium;
}

@font-face {
  font-family: "helveticaBold";
  src: url("../../fonts/helvetica-neue/HelveticaNeueCyr-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

.sectionOne {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 150px 0px 230px 0px;
  max-height: 800px;
}

.sectionOne .containerInfo {
  display: flex;
  flex-direction: column;
  color: #eee9e9;
  margin: 0;
  align-self: center;
}

.sectionOne .containerInfo h1 {
  font: normal 56px "helveticaBold", sans-serif;
  margin-bottom: 24px;
  width: 563px;
}

.sectionOne .containerInfo p {
  font: normal 22px "helveticaMed", sans-serif;
  margin-bottom: 48px;
  width: 563px;
}

.sectionOne .containerInfo input {
  width: 224px;
  margin: 0%;
}

.sectionOne .containerImages {
  position: relative;
}

.sectionOne .containerImages .imgCirculo {
  position: relative;
  width: 448px;
  height: 447px;
  z-index: 1;
  animation-name: circ;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes circ {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.sectionOne .containerImages .imgIcon4 {
  position: absolute;
  width: 185px;
  z-index: 2;
  bottom: 330px;
  left: 10px;
  animation-name: icon4;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes icon4 {
  0% {
    transform: translateY(-30px) translateX(10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px) translateX(10px);
  }
}

.sectionOne .containerImages .imgIcon5 {
  position: absolute;
  width: 185px;
  z-index: 2;
  bottom: -60px;
  right: 10px;
  animation-name: icon5;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes icon5 {
  0% {
    transform: translateY(30px) translateX(10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(30px) translateX(10px);
  }
}

.sectionOne .containerImages .imgPp3 {
  position: absolute;
  width: 50%;
  height: auto;
  z-index: 2;
  top: -75px;
  right: -20px;
  animation-name: pp3;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes pp3 {
  0% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(30px);
  }
}

.sectionOne .containerImages .imgPp2 {
  position: absolute;
  width: 50%;
  height: auto;
  z-index: 2;
  right: 260px;
  top: 180px;
  animation-name: pp2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes pp2 {
  0% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
  }
}

.sectionTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionTwo h2 {
  color: #eee9e9;
  font: normal 48px "manrope", sans-serif;
  margin-bottom: 8px;
}

.sectionTwo p {
  color: #eee9e9;
  font: normal 18px "helvetica", sans-serif;
  margin-bottom: 80px;
}

.sectionTwo .gridEmpresas {
  display: grid;
  grid-template-areas: ". . imgUno . ." ". imgDos . imgTres ." "imgCuatro . imgCinco .  imgSeis" ".  imgSiete .  imgOcho  ." ". . imgNueve . .";
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
}

.sectionTwo .gridEmpresas #imgUno {
  grid-area: imgUno;
}

.sectionTwo .gridEmpresas #imgDos {
  grid-area: imgDos;
  position: relative;
  bottom: 50%;
}

.sectionTwo .gridEmpresas #imgTres {
  grid-area: imgTres;
  position: relative;
  bottom: 50%;
}

.sectionTwo .gridEmpresas #imgCuatro {
  grid-area: imgCuatro;
  position: relative;
  bottom: 80%;
}

.sectionTwo .gridEmpresas #imgCinco {
  grid-area: imgCinco;
  position: relative;
  bottom: 80%;
}

.sectionTwo .gridEmpresas #imgSeis {
  grid-area: imgSeis;
  position: relative;
  bottom: 80%;
}

.sectionTwo .gridEmpresas #imgSiete {
  grid-area: imgSiete;
  position: relative;
  bottom: 130%;
}

.sectionTwo .gridEmpresas #imgOcho {
  grid-area: imgOcho;
  position: relative;
  bottom: 130%;
}

.sectionTwo .gridEmpresas #imgNueve {
  grid-area: imgNueve;
  position: relative;
  bottom: 160%;
}

.sectionTwo .gridEmpresas .imgLogos {
  width: 122px;
  height: auto;
}

.sectionThree {
  margin: 0 4% 0 2%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 20% 40% 10%;
  grid-template-areas: "divOne divTwo " "divOne divThree " "divFour divThree ";
}

.sectionThree .sectionThreeGridOne {
  grid-area: divOne;
}

.sectionThree .sectionThreeGridOne .imgCirculoSectionThree {
  width: 263px;
  position: relative;
  left: 10px;
}

.sectionThree .sectionThreeGridOne .imgIconoSectionThree {
  width: 182px;
  position: relative;
  bottom: 230px;
  left: 50px;
  animation-name: iconOne;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes iconOne {
  0% {
    transform: scale(0, 0) rotate(0deg);
  }
  25% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(0);
  }
}

.sectionThree .sectionThreeGridTwo {
  grid-area: divTwo;
}

.sectionThree .sectionThreeGridTwo .imgIconoSectionThreeTwo {
  width: 124px;
  position: relative;
  left: 570px;
  bottom: 30px;
  animation-name: circOne;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes circOne {
  0% {
    transform: scale(0, 0) rotate(0deg);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(10deg);
  }
  90% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(0);
  }
}

.sectionThree .sectionThreeGridThree {
  grid-area: divThree;
}

.sectionThree .sectionThreeGridThree p {
  font: normal 48px "manrope", sans-serif;
  color: #eee9e9;
  text-align: right;
  margin-top: 25px;
}

.sectionThree .sectionThreeGridFour {
  grid-area: divFour;
}

.sectionThree .sectionThreeGridFour .imgCiculoSectionThreeTwo {
  width: 33px;
  z-index: 2;
  position: relative;
  left: 276px;
  bottom: 8px;
}

.sectionThree .sectionThreeGridFour .imgCirculoSectionThreeThree {
  width: 51px;
  position: relative;
  left: 230px;
}

.btn {
  padding: 10px;
  margin: 13px;
  border-radius: 100px;
  font: normal 56px "helveticaBold", sans-serif;
  font-size: 16px;
  color: #8c72ff;
}

.btn:hover {
  color: #eee9e9;
  background-color: #8c72ff;
}

.btnTwo {
  padding: 10px;
  margin: 13px;
  border-radius: 100px;
  font: normal 56px "helveticaBold", sans-serif;
  font-size: 16px;
  color: #eee9e9;
  background-color: #8c72ff;
}

.btnTwo:hover {
  color: #8c72ff;
  background-color: #eee9e9;
}

.cardEmpresas {
  background-color: #eee9e9;
  width: 170px;
  height: 96px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #15083e;
}
