// titulos y textos

// Titulo
$titulo: normal 56px "helveticaBold", sans-serif;
// subtitulo
$subtitulo: normal 48px "manrope", sans-serif;
// texto principal
$textoPrincipal: normal 22px "helveticaMed", sans-serif;
// texto menu
$textoMenu: normal 16px "helvetica", sans-serif;
// textoSecundario
$textoSecundario: normal 18px "helvetica", sans-serif;

// colores

$colorTextoPrincipal: #eee9e9;
$colorTextoSecundario: #785eeb;
$colorTextoMenuHover: #6cd3ff;
$colorTextoBoton: #8c72ff;
$colorBackground: #15083e;
