// titulos y textos

// Titulo
$titulo: bold 56px "helvetica", sans-serif;
// subtitulo
$subtitulo: bold 48px "manrope", sans-serif;
// texto principal
$textoPrincipal: medium 22px "helvetica", sans-serif;
// textoSecundario
$textoSecundario: normal 18px "helvetica", sans-serif;

// colores

$colorTextoPrincipal: #eee9e9;
$colorTextoSecundario: #785eeb;
$colorTextoMenuHover: #6cd3ff;
$colorTextoBoton: #8c72ff;
$colorBackground: #15083e;
