@import "../utilities/variables";
@import "../utilities/mixins";

.sectionFour {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 100px 7%;
  height: 550px;
  .sectionFourContenedorImagenes {
    .contenedorImagenesImgOne {
      width: 448px;
    }
    .contenedorImagenesImgTwo {
      height: 413px;
      position: relative;
      bottom: 290px;
      animation-name: pp;
      animation-duration: 3s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;

      @keyframes pp {
        0% {
          transform: translateY(-30px);
        }
        50% {
          transform: translateY(0px);
        }

        100% {
          transform: translateY(-30px);
        }
      }
    }
    .contenedorImagenesImgThree {
      width: 177px;
      position: relative;
      bottom: 760px;
      right: 470px;
      animation-name: iconOne;
      animation-duration: 3s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;

      @keyframes iconOne {
        0% {
          transform: translateY(-50px);
        }
        50% {
          transform: translateY(0px);
        }

        100% {
          transform: translateY(-50px);
        }
      }
    }
    .contenedorImagenesImgFour {
      width: 120px;
      position: relative;
      bottom: 1050px;
      left: 320px;
      animation-name: iconTwo;
      animation-duration: 4s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;

      @keyframes iconTwo {
        0% {
          transform: translateY(-50px) translateX(10px);
        }
        50% {
          transform: translateY(0px);
        }

        100% {
          transform: translateY(-50px) translateX(10px);
        }
      }
    }
    .contenedorImagenesImgFive {
      width: 232px;
      position: relative;
      bottom: 750px;
      left: 170px;
      animation-name: iconFour;
      animation-duration: 3s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;

      @keyframes iconFour {
        0% {
          transform: translateY(-30px) translateX(30px);
        }
        50% {
          transform: translateY(0px);
        }

        100% {
          transform: translateY(-30px) translateX(30px);
        }
      }
    }
  }
  .sectionFourContenedorTextos {
    display: flex;
    flex-direction: column;
    width: 110%;

    h3 {
      font: $subtitulo;
      color: $colorTextoPrincipal;
      margin-bottom: 40px;
    }
    p {
      font: $textoPrincipal;
      color: $colorTextoPrincipal;
      margin-bottom: 40px;
    }
    .btn {
      width: 149px;
      height: 56px;
      margin: 0;
    }
  }
}
